{% extends "base.html" %}

{% block title %}
Tips
{% endblock %}

{% block main %}

<div class="flex flex-col items-center justify-center px-6 py-8 g:py-0">
  <div class="p-6 max-w-m bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ _("Làm sao để sử dụng Plex?") }}</h5>
    </a>
    <p class="mb-3 text-gray-700 dark:text-gray-400">
      {{ _("Chúc mừng bạn đã chấp nhận lời mời từ Plex! Bạn đã tiến một bước gần hơn tói việc thưởng thức tất cả nội dung tuyệt vời tại kho nội dung của chúng tôi. ") }}</p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      ℹ️ {{ _("Plex là gì?") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ _("Câu hỏi tuyệt vời! Plex là một phần mềm cho phép các cá nhân chia sẻ bộ sưu tập phương tiện của họ với người khác. Nếu bạn đã nhận được lời mời, điều đó có nghĩa là ai đó muốn chia sẻ thư viện của họ với bạn. Với Plex, bạn sẽ có quyền truy cập vào tất cả phim, chương trình TV, nhạc và ảnh được lưu trữ trên máy chủ của họ.") }}</p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      🍿 {{ _("Làm thế nào để tôi xem các nội dung?") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ _("Không thể đơn giản hơn! Plex có sẵn trên nhiều loại thiết bị bao gồm máy tính xách tay, máy tính bảng, điện thoại thông minh và TV. Tất cả những gì bạn cần làm là xuống ứng dụng Plex trên thiết bị của mình, đăng nhập bằng tài khoản của bạn và bạn đã sẵn sàng bắt đầu truyền phát nội dung của mình. Game là dễ!") }}</p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      🎞 {{ _("Làm thế nào để tôi có thể đảm bảo có trải nghiệm xem tốt nhất?") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ _("Theo mặc định, Plex phát tất cả nội dung ở chất lượng thấp hơn so với chất lượng gốc. Nhưng đừng lo nhé, vấn đề này giải quyết rất dễ! Bạn có thể thay đổi cài đặt để tăng chất lượng của phương tiện mà bạn đang phát trực tuyến.") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">1.</span> {{ _("Tới mục ") }} <span class="font-semibold">{{ _("Cài đặt ") }}</span> {{ _("của Plex. Tùy chọn này thường nằm ở góc trên cùng bên phải, tùy thuộc vào thiết bị bạn đang sử dụng.") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">2.</span> {{ _("Đi tới mục ") }}<span class="font-semibold">{{ _("Chất lượng") }}</span> {{ _("hoặc") }} <span
        class="font-semibold">{{ _("Quality") }}</span> {{ _("settings.") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">3.</span> {{ _("Chỉnh ") }}<span class="font-semibold">{{ _("Remote/Internet Streaming" ) }}</span>{{ _("sang ") }}
      <span class="font-semibold">{{ _("Maximum/Original") }}</span>
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">4.</span> {{ _("Chỉnh ") }}<span class="font-semibold">{{ _("Local Streaming ") }}</span>{{ _("sang ") }}
      <span class="font-semibold">{{ _("Maximum/Original") }}</span>
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ _("Ở các thiết bị có thêm phụ mục video, và mục liên quan tới mạng di động (3G/4G) hãy cứ chọn chất lượng gốc (Original) hoặc cao nhất (Maximum) để được trải nghiệm nghe nhìn tốt nhất.") }}</p>

  </div>

</div>

{% endblock %}